{%- if template != 'index' -%}
  <nav aria-label="Breadcrumb" class="page-width">
    <ol class="flex items-center space-x-2 list-none my-3 text-[14px] flex-wrap ps-0">
      <li>
        <a href="/" class="text-gray-500 hover:text-gray-700"> Home </a>
      </li>
      {%- case template | split: '.' | first -%}
        {%- when 'collection' -%}
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li aria-current="page" class="text-gray-900">
            {{ collection.title }}
          </li>
        {%- when 'product' -%}
          {%- if collection -%}
            <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
            <li>
              <a href="{{ collection.url }}" class="text-gray-500 hover:text-gray-700">
                {{ collection.title }}
              </a>
            </li>
          {%- endif -%}
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li aria-current="page" class="text-gray-900">
            {{ product.title }}
          </li>
        {%- when 'blog' -%}
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li aria-current="page" class="text-gray-900">
            {{ blog.title }}
          </li>

        {%- when 'article' -%}
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li>
            <a href="{{ blog.url }}" class="text-gray-500 hover:text-gray-700">
              {{ blog.title }}
            </a>
          </li>
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li aria-current="page" class="text-gray-900">
            {{ article.title }}
          </li>
        {%- when 'page' -%}
          <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
          <li aria-current="page" class="text-gray-900">
            {{ page.title }}
          </li>
        {%- else -%}
          {%- if template != 'index' -%}
            <li class="breadcrumb-separator">&nbsp;/&nbsp;</li>
            <li aria-current="page" class="text-gray-900">
              {{ template | split: '.' | first | capitalize }}
            </li>
          {%- endif -%}
      {%- endcase -%}
    </ol>
  </nav>
{%- endif -%}
